<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
    <style>
        /*
         * 由于IE不支持<template>标签，所以template标签中的内容在IE下会直接显示出来。
         * 将模板设为隐藏即可解决这个问题，template标签各浏览器支持请参考：http://caniuse.com/#feat=template
         */
        #grid-template{
            display : none;
        }
    </style>
</head>
<!--
    第一步-----创建表格组件,添加过滤,数据删除功能
    第二步-----创建对话框组件
-->
<body>
    <div id="app">
        <div class="container">
            <label>Search</label>
             <input type="text" class="search-input" v-model="searchQuery">
        </div>
        <div class="container">
            <!--    使用了v-bind指令的缩写。 -->
            <simple-grid :data-list="people" :columns="columns" :search-key="searchQuery"></simple-grid>
        </div>
    </div>

    <template id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="col in columns">
                        <!--    使用了capitalize过滤器，将字符串的首字母转换为大写后输出。  -->
                        {{ col.name | capitalize }}
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--    使用了filterBy过滤器，根据指定条件过滤数组元素，filterBy返回过滤后的数组。   -->
                <tr v-for="(index,entry) in dataList | filterBy searchKey">
                    <td v-for="col in columns">
                        {{ entry[col.name] }}
                    </td>
                    <td class="text-center">
                        <!--    使用了v-on指令的缩写，@click是v-on:click的缩写。  -->
                        <button @click="deleteItem(index)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <button class="btn" @click="openNewItemDialog('Create New item')">Create</button>
        </div>
        <modal-dialog :mode="mode" :title="title" :fields="columns" :item="item">
        </modal-dialog>
    </template>

    <template id="dialog-template">
        <div class="dialogs">
            <div class="dialog" v-bind:class="{ 'dialog-active':show }">
                <div class="dialog-content">
                    <header class="dialog-header">
                        <h1 class="dialog-title">{{ title }}</h1>
                    </header>
                    <footer class="dialog-footer">
                        <div class="form-group">
                            <label></label>
                            <button class="btn-save" v-on:click="save">Save</button>
                            <button class="btn-close" v-on:click="close">Close</button>
                        </div>
                    </footer>
                </div>
            </div>
            <!--overlay 覆盖、镀金、轮廓-->
            <div class="dialog-overlay"></div>
        </div>
    </template>

</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script>
    /*  Vue.component是创建并注册组件的语法糖，使用Vue.component注册的组件是全局的。 */
    Vue.component('simple-grid',{
        template : '#grid-template',
        /*  #app元素是父组件，simple-grid是子组件。
         在simple-grid组件中定义选项props: ['dataList', 'columns', 'searchKey']
         在#app下使用<simple-grid :data-list="people" :columns="columns" :search-key="searchQuery">
         将数据传递给simple-grid组件    */
        props : ['dataList','columns','searchKey'],
        /*  组件的data选项必须以函数的方式返回 */
        data : function() {
            return {
                mode : 0,
                item : {},
                title : ''
            }
        },
        methods : {
            deleteItem : function(index){
                this.dataList.splice(index,1);
            }
        },
        /*  modal-dialog组件在simple-grid组件中注册：    */
        components : {
            'modal-dialog' : {
                template : '#dialog-template',
                data : function () {
                    return {
                        //  对话框默认是不显示的
                        show : false
                    }
                },
                /*
                 * mode = 1是新增数据模式，mode = 2是修改数据模式
                 * title表示对话框的标题内容
                 * fields表示对话框要显示的数据字段数组
                 * item是由simple-grid传下来，用于绑定表单字段的
                 */
                props : ['mode','title','fields','item'],
                methods : {
                    close : function () {
                        this.show = false;
                    },
                    save : function () {

                    }
                }
            }
        }
    });

    var demo=new Vue({
        el : '#app',
        data : {
            searchQuery : '',
            columns : [{
                name : 'name',
                /*  为'name'列追加一个isKey属性，并设置为true，表示该列为主键列。    */
                isKey : true
            },{
                name : 'age'
            },{
                name : 'sex',
                /*  为'sex'列追加一个dataSoruce属性，并设置为['Male', 'Female']，
                    表示新增或修改数据时选择性别的下拉框数据源。*/
                dataSource : ['Male','Female']
            }],
            people : [{
                name : 'Jack',
                age : 30,
                sex : 'Male'
            },{
                name : 'Bill',
                age : 26,
                sex : 'Male'
            },{
                name : 'Tracy',
                age : 22,
                sex : 'Female'
            },{
                name : 'Chris',
                age : 36,
                sex : 'Male'
            }]
        }
    });
</script>
</html>