<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/demo.css"/>
</head>
<body>

    <div id="app">
        <div id="searchBar">
            Search <input type="text" v-model="searchKey">
        </div>
        <simple-grid v-bind:data="gridData" v-bind:columns="gridColumns" v-bind:filter-key="searchKey"></simple-grid>
    </div>

    <template id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="col in columns">
                        <!--表达式后面可以添加过滤器，对输出的数据进行过滤-->
                        {{ col | capitalize}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in data | filterBy filterKey">
                    <td v-for="col in columns">
                        {{ entry[col] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </template>

</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
    Vue.component('simple-grid',{
        template : '#grid-template',
            props : ['data','columns','filterKey']
    });
</script>
<script type="text/javascript">
    new Vue({
        el : '#app',
        data : {
            searchKey : '',
            gridColumns : ['name','age','sex'],
            gridData : [{
                name : 'phantomLiu',
                age : 24,
                sex : 'Male'
            },{
                name : 'hades',
                age : 23,
                sex : 'Male'
            },{
                name : 'linda',
                age : 20,
                sex : 'Female'
            }]
        }
    });
</script>
</html>